@font-face {
  font-family: "OswaldMedium";
  font-weight: normal;
  src: url("../../fonts/Oswald-Medium.woff2") format("woff2"), url("../../fonts/Oswald-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "OswaldSemiBold";
  font-weight: normal;
  src: url("../../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../../fonts/Oswald-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "RobotoLight";
  font-weight: normal;
  src: url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "RobotoMedium";
  font-weight: normal;
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
  font-display: swap;
}