// colors
$white:                   #ffffff;
$black:                   #000101;
$yellow:                  #ffca00;
$yellow-hover:            #ffda4e;
$error:                   #ff5d10;
$grey-border:             #212121;

// fonts
$OswaldMedium:            "OswaldMedium", "Arial", sans-serif;
$OswaldSemiBold:          "OswaldSemiBold", "Arial", sans-serif;
$RobotoLight:             "RobotoLight", "Arial", sans-serif;
$RobotoMedium:            "RobotoMedium", "Arial", sans-serif;

// breakpoints
$mobile-min-width:        375px;
$mobile-max-width:        639px;
$tablet-min-width:        720px;
$tablet-max-width:        1024px;
$desktop-min-width:       1280px;
$desktop-max-width:       1920px;

// transitions
$transition:              0.3s ease;

$retina-dppx:             1.5dppx;

